// out:false
@import './variable.less';
.swiper {
  width: 100%;
  height: 3rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.el-input__inner {
  text-align: center;
  background-color: transparent;
  border: none;
}
.el-radio__input .el-radio__inner {
  display: none;
}
.mint-header {
  background-color: @theme_background;
  height: .8rem;
}
.mint-navbar .mint-tab-item.is-selected {
  border-bottom: 3px solid @theme_color;
  color: @theme_color;
}
.el-menu-item.is-active {
  color: @theme_color;
}
.el-menu-item:focus, .el-menu-item:hover {
  outline: 0;
  background-color: #f9ebed;
}
.el-menu {
  border-right: none;
}
.el-input-number--mini {
  width: 90px;
}
.el-input-number__decrease,.el-input-number__increase {
  border-right: none;
  border-left: none;
  background-color: #f9ebed;
  border-radius: 50%;
}
.el-popover {
  padding: 0;
  width: 100%;
  left: 0;
}
.clearfix(){
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
.mint-popup-bottom {
  width: 100%;
}
.position(){
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}
@main-color: #fa7408;