// out:false
@theme_background:#61bba0;
@theme_hover:#61bba0;
@theme_color:#61bba0;
@font_color: #e97889;
@base_color:#f9f9f9;
@base_textSize:.26rem;
@base_textColor:black;
@base_boder:1px solid #ccc;
@btn_background: linear-gradient(0deg, #e97889 0%, #ffc489 100%);