// out:false
@import '../variable.less';
.login {
  background: url('../../images/login-bg.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  span {
    color: @font_color;
  }
  .login-top {
    margin-top: 1.2rem;
    text-align: center;
    img{
      width: 2rem;
      height: 2rem;
    }
  }
  .login-cont {
    margin-top: .8rem;
    .content {
      width: 80%;
      margin: 0.2rem auto 0;
      padding: 0 .2rem;
      border-bottom: 1px solid #ccc;
      i {
        margin-right: .2rem;
      }
      input {
        color: #fff;
        background-color: transparent;
      }
      input::-webkit-input-placeholder {
        color: #ccc;
      }
    }
  }
  .login-bottom {
    width: 80%;
    margin: .8rem auto 0;
    .button {
      width: 100%;
    }
    .desc {
      position: fixed;
      bottom: .2rem;
      color: #ccc;
    }
    .login-forget {
      margin-top: .2rem;
      p {
        color: #f2f2f2;
        text-decoration: underline;
      }
    }
  }
}
h2 {
  text-align: center;
  font-size: .35rem;
  font-weight: 500;
}
.headImg {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: .8rem auto;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.camera {
  position: absolute;
  bottom: 0;
  right: 0;
}
.infoBox {
  width: 80%;
  margin: 0 auto;
}
.info {
  border-bottom: 1px solid #ccc;
  height: .8rem;
  line-height: .8rem;
  padding: 0 .2rem;
  text-align: center;
  input {
    width: 100%;
    text-align: center;
  }
}
.label {
  font-size: .24rem;
  text-align: center;
  a {
    color: #666;
  }
}