// out:false
.name-box {
  padding: .2rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  img { 
    width: 30%;
    border-radius: 50%;
  }
}
span {
  font-size: .22rem;
  color: #666;
}
.member-list {
  background-color: #fff;
  margin-bottom: 1rem;
  ul {
    li {
      padding: .2rem;
      border-bottom: 1px solid #f2f2f2;
    }
  }
}
.topPage {
  position: relative;
  img {
    width: 100%;
  }
}
.headImg {
  position: absolute;
  bottom: -50%;
  left: 50%;
  margin-bottom: 1rem;
  margin-left: -1rem;
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  i {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}